@-webkit-keyframes svg-text-anim {
  40% {
    stroke-dashoffset: 0;
    fill: transparent;
  }
  60% {
    stroke-dashoffset: 0;
    fill: rgb(107, 241, 111);
  }
  100% {
    stroke-dashoffset: 0;
    fill: #ff6700;
  }
}

@keyframes svg-text-anim {
  40% {
    stroke-dashoffset: 0;
    fill: transparent;
  }
  60% {
    stroke-dashoffset: 0;
    fill: rgb(107, 241, 111);
  }
  100% {
    stroke-dashoffset: 0;
    fill: #ff6700;
  }
}
